@use '../../shared/styles/variables.scss' as *;
@use '../../shared/styles/mixins.scss' as *;

.testimonials{
  min-height: 50vh;
}

.testimonials-carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: $spacing-md 0;
}

.testimonials-carousel {
  @include flex(row, flex-start, center, nowrap);
  gap: $spacing-md;
  will-change: transform;
  
  // Responsive: ajustar gap
  @media (max-width: 768px) {
    gap: $spacing-lg;
  }
}

// Estilos para las tarjetas individuales
.testimonials-card {
  @include flex(column, space-between, flex-start, nowrap);
  gap: $spacing-sm;
  width: 350px; // Ancho fijo para desktop
  height: 200px; // Altura fija para uniformidad
  flex-shrink: 0;
  
  @media (max-width: 768px) {
    width: 280px; 
    height: 180px; 
  }

  &__header {
    @include flex(row, space-between, center, nowrap);
    gap: $spacing-sm;
    flex-shrink: 0;

    &-info {
      @include flex(column, center, flex-start, nowrap);

      &-name {
        font-size: 1.2rem;
      }
    }
  }

  &__content {
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    
    
    p {
      margin: 0;
      line-height: 1.5;
    }
  }

  &__avatar {
    @include flex(row, center, center, nowrap);
    flex-shrink: 0;
  }
}