@use './variables.scss' as *;
@use './mixins.scss' as *;

:root {
  --font-primary: #{$title-font};
  --font-secondary: #{$body-font};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-background: #{$color-background};
  --color-background-secondary: #{$color-background-secondary};
  --color-glass: #{$color-glass};
  --color-text: #{$color-text};
  --color-text-secondary: #{$color-text-secondary};
}


body {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
  font-family: var(--font-primary);
}

// Tipografías
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

p, span, a, li, button, input, textarea, select, label, small, strong, em, b, i, u, s, code, pre {
  font-family: var(--font-secondary);
} 

b{
  color: var(--color-primary);
}

// Animaciones
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
} 

// Scrollbar
/* Estilos para la scrollbar en Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: $border-radius-lg;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: $border-radius-lg;
  
  &:hover {
    background: var(--color-secondary);
  }
}

/* Estilos para Firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: var(--color-primary) transparent;  
}

