@use "./variables.scss" as *;

// Media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {    
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  }
}

// Flexbox
@mixin flex($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

// Grid
@mixin grid($columns: 1, $rows: 1, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  gap: $gap;

  @include respond-to(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

// Glassmorphism
@mixin glassmorphism($blur: 10px, $opacity: 0.1) {  
  background: rgba(255, 255, 255, $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  border: 1px solid rgba(255, 255, 255, $opacity*1.5);
}

@mixin card {
  border-radius: $border-radius-md;
  padding: $spacing-xs $spacing-sm;
  background-color: var(--color-background-alt);

  @include respond-to(sm) {
    padding: $spacing-xs;
  }
}

// Transiciones
@mixin transition($property: all, $duration: 0.3s, $timing: ease) {
  transition: $property $duration $timing;
}

@mixin hover-shadow ($color: $color-primary) {
  box-shadow: 0 0 40px 0 rgba($color, 0.7);
}
@mixin container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}


