// Colores
$color-primary: #0cb7f2; //7ce2fe
$color-secondary: #23c68f;
$color-background: #0e0e10;
$color-background-secondary: #1a1b1f;
$color-gray: #737373;
$color-text: #f1f1f1;
$color-text-secondary: #e7f9ff;
$color-glass: rgba(255, 255, 255, 0.1);
$color-error: #ff3936;

// Tipografía
@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/inter-variable.ttf') format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DMSans';
    src: url('../../assets/fonts/dm_sans/DMSans-variable.ttf') format('truetype');
    font-style: normal;
  }
  
  // Variables SCSS para usar fácilmente
  $title-font: 'Inter', sans-serif;
  $body-font: 'DMSans', serif;


// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Espaciado
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

// Bordes
$border-radius-sm: 0.4rem;
$border-radius-md: 1rem;
$border-radius-lg: 999px;

// Z-index
$z-index-modal: 1000;
$z-index-overlay: 900;
$z-index-dropdown: 800;
$z-index-header: 700;
$z-index-footer: 600; 