@use "../../shared/styles/variables.scss" as *;
@use "../../shared/styles/mixins.scss" as *;

.header {
  @include flex(row, center, center);
  padding: $spacing-md;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-header;
  transform: translateY(0);
  @include transition;

  &--hidden {
    transform: translateY(-100%);
  }

  &__content {
    @include flex(row, space-between, center);
    @include container;
    border-radius: $border-radius-lg;
    padding: $spacing-md;
    width: 100%;
    max-height: 80px;
    @include transition;
    position: relative;

    &:not(.header--top) {
      @include glassmorphism;
    }
  }

  &__logo {
    width: 100%;
    flex: 0 0 45%;
    height: 80px;
    @include flex(column, center, flex-start);
    padding: $spacing-sm;

    &-image {
      height: 100%;
      width: auto;
      object-fit: contain;
      display: block;
    }

    &-link {
      width: auto;
      height: 100%;
    }
  }

  &__menu {
    width: 100%;
    @include flex(row, space-between, center);
    gap: $spacing-sm;

    @include respond-to(sm) {
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;      
      border-radius: $border-radius-md;
      @include glassmorphism;

      padding: $spacing-md;
      flex-direction: column;
      align-items: stretch;
      gap: $spacing-md;
      animation: slideDown 0.3s ease-out forwards;

      .header__cta {
        flex-direction: column;
        align-items: stretch;
        
        button {
          width: 100%;
          padding: $spacing-sm;
        }
      }
    }
  }

  &__nav {
    @include flex(row, center, center);
    gap: $spacing-sm;

    @include respond-to(sm) {
      @include flex(column, center, flex-start);
    }
    
    &-item {
      @include flex(row, center, center);
      gap: $spacing-xs;

    }
  }

  &__title {
    font-size: 1.5rem;
    display: none;

    @include respond-to(sm) {
      display: block;
    }
  }

  &__cta {
    @include flex(row, center, center);
    gap: $spacing-sm;
  }

  &__menu-mobile {
    display: none;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-80px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @include respond-to(sm) {
    &__content {
      padding: $spacing-sm;
      border-radius: $border-radius-lg;
    }

    &__menu-mobile {
      display: block;
    }

    &__content.menu-open {
      // backdrop-filter: none;
      // background-color: $color-background;

      .header__menu {
        display: flex;
        // background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.header__overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  @include transition;
  cursor: pointer;
  
  // Solo mostrar en móvil
  @include respond-to(sm) {
    opacity: 1;
    visibility: visible;
  }
}
