@use "../../shared/styles/variables.scss" as *;
@use "../../shared/styles/mixins.scss" as *;

.header {
  @include flex(row, center, center);
  padding: $spacing-md;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-header;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;

  &--hidden {
    transform: translateY(-100%);
  }

  &__content {
    @include flex(row, space-between, center);
    @include glassmorphism;
    border-radius: $border-radius-lg;
    padding: $spacing-md;
    width: 100%;
    max-height: 80px;
  }

  &__logo {
    height: 80px;
    @include flex(column, center, center);
    padding: $spacing-sm;
    cursor: pointer;

    &:hover {
      .header__logo-text {
        max-height: 100px; 
        opacity: 1;
      }
    }

    &-image {
      height: 100%;
      width: auto;
      object-fit: contain;
      display: block;
    }

    &-text {
      max-height: 0;
      opacity: 0;
      @include transition;

      font-size: 0.7rem;
      font-weight: 600;
      color: $color-text;

      span {
        display: inline-block;
        transform: scaleY(-1); /* También puedes usar scaleX(-1) */
      }
    }
  }

  &__nav {
    @include flex(row, center, center);
    gap: $spacing-sm;
  }
}
